<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61448825970-epl39kfvbuglfevh2aq702e5kn7oia21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61448825970-epl39kfvbuglfevh2aq702e5kn7oia21</string>
	<key>API_KEY</key>
	<string>AIzaSyBldhJU_VJPC_UVMc3U2dDi3i6FGHqPgzk</string>
	<key>GCM_SENDER_ID</key>
	<string>61448825970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kenanbaylan.deezer-music-app</string>
	<key>PROJECT_ID</key>
	<string>deezer-music-app</string>
	<key>STORAGE_BUCKET</key>
	<string>deezer-music-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:61448825970:ios:9adbddcfa75f23c4c1e6eb</string>
	<key>DATABASE_URL</key>
	<string>https://deezer-music-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
